#mainView {
    flex: 1;
    justify-content: 'center';
}
    
#welcomeText {
    flex: 1;
    font-size: '10px';
    font-weight: 'bold';
    text-align: 'center';
}

#monthSelector {
    flex: 0.5;
}

#daySelector {
    flex: 0.5
}

#submitBtn {
    flex: 2;
    background-color:rgb(44, 163, 200);
}
/* #dateWidget {
        flex-shrink: 2;
        }

        #dateLabel {
        flex-shrink: 4;
        font-size: '5px';
        }

        #daySelector {
        flex-shrink: 4;
        width: '25px';
        }

        #monthSelector {
        flex-shrink: 4;
        width: '25px';
        }

        #submitBtn {
        width: '30px';
        flex-shrink: 3;
        background-color:rgb(44, 163, 200);
        } */